.pad-1 { margin-left: 20px; }
.pad-2 { margin-left: 40px; }
.pad-3 { margin-left: 60px; }
.pad-4 { margin-left: 80px; }
.pad-5 { margin-left: 100px; }
.pad-6 { margin-left: 120px; }
.pad-7 { margin-left: 140px; }
.pad-8 { margin-left: 160px; }
.pad-9 { margin-left: 180px; }
.pad-10 { margin-left: 200px; }
.pad-11 { margin-left: 220px; }
.pad-12 { margin-left: 240px; }
.pad-8 { margin-left: 140px; }
